@page "/transaction"

<h3>Transaction</h3>
<button class="btn btn-primary" @onclick="ShowPopup">Add Transaction</button>
<AddTransactionPopup IsVisible="isPopupVisible" OnClose="HidePopup" />

@code
{
    private bool isPopupVisible = false;

    private void ShowPopup()
    {
        isPopupVisible = true;
    }

    private void HidePopup()
    {
        isPopupVisible = false;
    }

    Models.Transaction transaction = new Models.Transaction()
    {
        TransactionId = 1,
        Amount = 100.50m,
        Title = "Grocery Shopping",
        Type = "Expense",
        CategoryName = "Grocery",
        TransactionDate = DateTime.Now,
        Remarks = "Bought groceries for the week"
    };
}
<br/>
Transaction Id: @transaction.TransactionId
<br/>
Amount: @transaction.Amount
<br/>
Title: @transaction.Title
<br/>
Type: @transaction.Type
<br/>
Category: @transaction.CategoryName
<br/>
Date: @transaction.TransactionDate.ToString("MM/dd/yyyy")
<br/>
Remarks: @transaction.Remarks